:root{
	--text-color: #fbf1c7;
	--red:    #cc241d;
	--green:  #98971a;
	--yellow: #d79921;
	--blue:   #458588;
	--purple: #b16286;
	--aqua:   #689d6a;
	--orange: #d65d0e;

	/* light mode by default */
	--theme_bg: #EEEEEE;
	--theme_title_fg: var(--red);
	--theme_item_fg: #282828;
}

@media (prefers-color-scheme: dark) {
	:root{
		--theme_bg: #323234;
		--theme_title_fg: var(--yellow);
		--theme_item_fg: var(--text-color);
	}
}

*{
	font-family: sans-serif;
	font-size: 1.05em;
	box-sizing: border-box;
	color: var(--theme_item_fg);
}

body, html{
	padding: 0;
	margin: 0;
	background-color: var(--theme_bg);
}

img{
	width: 30px;
	display: inline-block;
	margin-right: 10px;
	/*height: 20px;*/
}

a{
	text-decoration: none;
	color: #fbf1c7;
}

#container{
	/*! margin: auto; */
	width: fit-content;
	margin: 20px;
}

.item{
	display: flex;
	text-align: center;
	vertical-align: middle;
	/*! justify-content: center; */
	align-items: center;
	margin-bottom: 5px;
	width: fit-content;
}

.itemname{
	display: inline-block;
}

#baseTagContainer{
	margin-bottom: 20px;
}

.tagTitle{
	color: var(--theme_title_fg);
	margin: 0 0 6px 0;
}

