<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://openbox.org/">
  <menu id="root-menu" label="Applications">
    <item label="File Manager"><action name="Execute"><command><![CDATA[xdg-open .]]></command></action></item>
    <item label="Terminal"><action name="Execute"><command><![CDATA[xterm]]></command></action></item>
    <item label="Web Browser"><action name="Execute"><command><![CDATA[xdg-open http://]]></command></action></item>
    <item label="Run command"><action name="Execute"><command><![CDATA[gmrun]]></command></action></item>
  <separator label="Categories"/>
  <menu id="0.816953843067498" label="Accessories">
    <item label="About Xfce"><action name="Execute"><command><![CDATA[xfce4-about]]></command></action></item>
    <item label="Bulk Rename"><action name="Execute"><command><![CDATA[thunar --bulk-rename]]></command></action></item>
    <item label="CherryTree"><action name="Execute"><command><![CDATA[cherrytree]]></command></action></item>
    <item label="compton"><action name="Execute"><command><![CDATA[compton]]></command></action></item>
    <item label="Disks"><action name="Execute"><command><![CDATA[gnome-disks]]></command></action></item>
    <item label="File Manager PCManFM"><action name="Execute"><command><![CDATA[pcmanfm]]></command></action></item>
    <item label="File Manager"><action name="Execute"><command><![CDATA[exo-open --launch FileManager]]></command></action></item>
    <item label="Font Manager"><action name="Execute"><command><![CDATA[font-manager]]></command></action></item>
    <item label="Font Viewer"><action name="Execute"><command><![CDATA[/usr/libexec/font-manager/font-viewer]]></command></action></item>
    <item label="Marker"><action name="Execute"><command><![CDATA[marker]]></command></action></item>
    <item label="Menu Editor"><action name="Execute"><command><![CDATA[/usr/bin/menulibre]]></command></action></item>
    <item label="Mousepad"><action name="Execute"><command><![CDATA[mousepad]]></command></action></item>
    <item label="Neovim"><action name="Execute"><command><![CDATA[xterm -e 'nvim']]></command></action></item>
    <item label="nitrogen"><action name="Execute"><command><![CDATA[nitrogen]]></command></action></item>
    <item label="picom"><action name="Execute"><command><![CDATA[picom]]></command></action></item>
    <item label="Task Manager"><action name="Execute"><command><![CDATA[xfce4-taskmanager]]></command></action></item>
    <item label="Terminal Emulator"><action name="Execute"><command><![CDATA[exo-open --launch TerminalEmulator]]></command></action></item>
    <item label="Thunar File Manager"><action name="Execute"><command><![CDATA[thunar]]></command></action></item>
    <item label="Winetricks"><action name="Execute"><command><![CDATA[winetricks --gui]]></command></action></item>
    <item label="Xarchiver"><action name="Execute"><command><![CDATA[xarchiver]]></command></action></item>
  </menu>
  <menu id="0.570866119905503" label="Development">
    <item label="Godot"><action name="Execute"><command><![CDATA[/appimages/Godot_v3.4-stable_x11.64]]></command></action></item>
    <item label="Qt5 Assistant"><action name="Execute"><command><![CDATA[/usr/bin/assistant-qt5]]></command></action></item>
    <item label="Qt5 Designer"><action name="Execute"><command><![CDATA[/usr/bin/designer-qt5]]></command></action></item>
    <item label="Qt5 Linguist"><action name="Execute"><command><![CDATA[/usr/bin/linguist-qt5]]></command></action></item>
    <item label="Qt5 QDbusViewer"><action name="Execute"><command><![CDATA[/usr/bin/qdbusviewer-qt5]]></command></action></item>
  </menu>
  <menu id="0.887858144744438" label="Games">
    <item label="Blender"><action name="Execute"><command><![CDATA[steam steam://rungameid/365670]]></command></action></item>
    <item label="Godot"><action name="Execute"><command><![CDATA[/appimages/Godot_v3.4-stable_x11.64]]></command></action></item>
    <item label="itch"><action name="Execute"><command><![CDATA[/home/woynert/.itch/itch]]></command></action></item>
    <item label="Steam"><action name="Execute"><command><![CDATA[/usr/bin/steam]]></command></action></item>
    <item label="Team Fortress 2"><action name="Execute"><command><![CDATA[steam steam://rungameid/440]]></command></action></item>
  </menu>
  <menu id="0.656888970263886" label="Graphics">
    <item label="Flameshot"><action name="Execute"><command><![CDATA[/usr/bin/flameshot]]></command></action></item>
    <item label="GNU Image Manipulation Program"><action name="Execute"><command><![CDATA[gimp-2.10]]></command></action></item>
    <item label="Image Viewer"><action name="Execute"><command><![CDATA[eog]]></command></action></item>
    <item label="Inkscape"><action name="Execute"><command><![CDATA[inkscape]]></command></action></item>
    <item label="Peek"><action name="Execute"><command><![CDATA[peek]]></command></action></item>
    <item label="Ristretto Image Viewer"><action name="Execute"><command><![CDATA[ristretto]]></command></action></item>
  </menu>
  <menu id="0.340945451415866" label="Multimedia">
    <item label="Audacious"><action name="Execute"><command><![CDATA[audacious]]></command></action></item>
    <item label="Audacity"><action name="Execute"><command><![CDATA[env UBUNTU_MENUPROXY=0 audacity]]></command></action></item>
    <item label="DeaDBeeF"><action name="Execute"><command><![CDATA[deadbeef]]></command></action></item>
    <item label="OBS Studio"><action name="Execute"><command><![CDATA[obs]]></command></action></item>
    <item label="Peek"><action name="Execute"><command><![CDATA[peek]]></command></action></item>
    <item label="PulseAudio Volume Control"><action name="Execute"><command><![CDATA[pavucontrol]]></command></action></item>
    <item label="VLC media player"><action name="Execute"><command><![CDATA[/usr/bin/vlc --started-from-file]]></command></action></item>
  </menu>
  <menu id="0.389254672438241" label="Network">
    <item label="Deluge"><action name="Execute"><command><![CDATA[deluge-gtk]]></command></action></item>
    <item label="Mail Reader"><action name="Execute"><command><![CDATA[exo-open --launch MailReader]]></command></action></item>
    <item label="Steam"><action name="Execute"><command><![CDATA[/usr/bin/steam]]></command></action></item>
    <item label="Web Browser"><action name="Execute"><command><![CDATA[exo-open --launch WebBrowser]]></command></action></item>
  </menu>
  <menu id="0.773562505279497" label="Other">
    <item label="Kdenlive"><action name="Execute"><command><![CDATA[/appimages/kdenlive-21.08.3-x86_64.appimage]]></command></action></item>
    <item label="LMMS"><action name="Execute"><command><![CDATA[/appimages/lmms-1.3.0-alpha.1.102+g89fc6c9-linux-x86_64.AppImage]]></command></action></item>
    <item label="Simplenote"><action name="Execute"><command><![CDATA[/appimages/Simplenote-linux-2.21.0-x86_64.AppImage]]></command></action></item>
  </menu>
  <menu id="0.416310697602135" label="Settings">
    <item label="Accessibility"><action name="Execute"><command><![CDATA[xfce4-accessibility-settings]]></command></action></item>
    <item label="Advanced Network Configuration"><action name="Execute"><command><![CDATA[nm-connection-editor]]></command></action></item>
    <item label="Appearance"><action name="Execute"><command><![CDATA[xfce4-appearance-settings]]></command></action></item>
    <item label="Color Profiles"><action name="Execute"><command><![CDATA[xfce4-color-settings]]></command></action></item>
    <item label="Customize Look and Feel"><action name="Execute"><command><![CDATA[lxappearance]]></command></action></item>
    <item label="Default applications for LXSession"><action name="Execute"><command><![CDATA[lxsession-default-apps]]></command></action></item>
    <item label="Default Applications"><action name="Execute"><command><![CDATA[xfce4-mime-settings]]></command></action></item>
    <item label="Desktop Preferences"><action name="Execute"><command><![CDATA[pcmanfm --desktop-pref]]></command></action></item>
    <item label="Desktop Session Settings"><action name="Execute"><command><![CDATA[lxsession-edit]]></command></action></item>
    <item label="Display"><action name="Execute"><command><![CDATA[xfce4-display-settings]]></command></action></item>
    <item label="File Manager Settings"><action name="Execute"><command><![CDATA[thunar-settings]]></command></action></item>
    <item label="Keyboard"><action name="Execute"><command><![CDATA[xfce4-keyboard-settings]]></command></action></item>
    <item label="Menu Editor"><action name="Execute"><command><![CDATA[/usr/bin/menulibre]]></command></action></item>
    <item label="Mouse and Touchpad"><action name="Execute"><command><![CDATA[xfce4-mouse-settings]]></command></action></item>
    <item label="NVIDIA X Server Settings"><action name="Execute"><command><![CDATA[/usr/bin/nvidia-settings]]></command></action></item>
    <item label="Openbox Configuration Manager"><action name="Execute"><command><![CDATA[obconf]]></command></action></item>
    <item label="Preferred Applications"><action name="Execute"><command><![CDATA[libfm-pref-apps]]></command></action></item>
    <item label="PulseAudio Volume Control"><action name="Execute"><command><![CDATA[pavucontrol]]></command></action></item>
    <item label="Qt5 Settings"><action name="Execute"><command><![CDATA[qt5ct]]></command></action></item>
    <item label="Removable Drives and Media"><action name="Execute"><command><![CDATA[thunar-volman-settings]]></command></action></item>
    <item label="Settings Editor"><action name="Execute"><command><![CDATA[xfce4-settings-editor]]></command></action></item>
    <item label="Settings Manager"><action name="Execute"><command><![CDATA[xfce4-settings-manager]]></command></action></item>
    <item label="Text Editor Settings"><action name="Execute"><command><![CDATA[mousepad --preferences]]></command></action></item>
    <item label="Tint2 Settings"><action name="Execute"><command><![CDATA[tint2conf]]></command></action></item>
  </menu>
  <menu id="0.657085116943936" label="System">
    <item label="Alacritty"><action name="Execute"><command><![CDATA[alacritty]]></command></action></item>
    <item label="Bulk Rename"><action name="Execute"><command><![CDATA[thunar --bulk-rename]]></command></action></item>
    <item label="Disk Usage Analyzer"><action name="Execute"><command><![CDATA[baobab]]></command></action></item>
    <item label="File Manager PCManFM"><action name="Execute"><command><![CDATA[pcmanfm]]></command></action></item>
    <item label="GParted"><action name="Execute"><command><![CDATA[/usr/bin/gparted-pkexec]]></command></action></item>
    <item label="Grub Customizer"><action name="Execute"><command><![CDATA[grub-customizer]]></command></action></item>
    <item label="Htop"><action name="Execute"><command><![CDATA[xterm -e 'htop']]></command></action></item>
    <item label="jgmenu"><action name="Execute"><command><![CDATA[jgmenu_run]]></command></action></item>
    <item label="Q4Wine"><action name="Execute"><command><![CDATA[q4wine -b]]></command></action></item>
    <item label="Task Manager"><action name="Execute"><command><![CDATA[xfce4-taskmanager]]></command></action></item>
    <item label="Thunar File Manager"><action name="Execute"><command><![CDATA[thunar]]></command></action></item>
    <item label="Tint2"><action name="Execute"><command><![CDATA[tint2]]></command></action></item>
    <item label="UXTerm"><action name="Execute"><command><![CDATA[uxterm]]></command></action></item>
    <item label="XTerm"><action name="Execute"><command><![CDATA[xterm]]></command></action></item>
  </menu>
  <separator/>
  <menu id="0.0320495577186648" label="Advanced Settings">
    <item label="Conky RC"><action name="Execute"><command><![CDATA[geany ~/.conkyrc]]></command></action></item>
    <item label="Tint2 Panel"><action name="Execute"><command><![CDATA[geany ~/.config/tint2/tint2rc]]></command></action></item>
  <menu id="0.458478665461183" label="Obmenu-Generator">
    <item label="Menu Schema"><action name="Execute"><command><![CDATA[geany ~/.config/obmenu-generator/schema.pl]]></command></action></item>
    <item label="Menu Config"><action name="Execute"><command><![CDATA[geany ~/.config/obmenu-generator/config.pl]]></command></action></item>
  <separator/>
    <item label="Generate a static menu"><action name="Execute"><command><![CDATA[obmenu-generator -s -c]]></command></action></item>
    <item label="Generate a static menu with icons"><action name="Execute"><command><![CDATA[obmenu-generator -s -i -c]]></command></action></item>
  <separator/>
    <item label="Generate a dynamic menu"><action name="Execute"><command><![CDATA[obmenu-generator -p]]></command></action></item>
    <item label="Generate a dynamic menu with icons"><action name="Execute"><command><![CDATA[obmenu-generator -p -i]]></command></action></item>
  <separator/>
    <item label="Refresh cache"><action name="Execute"><command><![CDATA[obmenu-generator -d]]></command></action></item>
  </menu>
  <menu id="0.598104341411705" label="Openbox">
    <item label="Openbox Autostart"><action name="Execute"><command><![CDATA[geany ~/.config/openbox/autostart]]></command></action></item>
    <item label="Openbox RC"><action name="Execute"><command><![CDATA[geany ~/.config/openbox/rc.xml]]></command></action></item>
    <item label="Openbox Menu"><action name="Execute"><command><![CDATA[geany ~/.config/openbox/menu.xml]]></command></action></item>
    <item label="Reconfigure Openbox"><action name="Execute"><command><![CDATA[openbox --reconfigure]]></command></action></item>
  </menu>
  </menu>
  <separator/>
    <item label="Lock"><action name="Execute"><command><![CDATA[xscreensaver-command -lock]]></command></action></item>
    <item label="Exit"><action name="Exit"/></item>
  </menu>
</openbox_menu>
